body {
  margin: 20px 100px;
  background-color: rgb(246, 238, 178);
}

div {
  margin-top: 20px;
}

.addBtn {
  background-color: rgb(93, 203, 93);
  color: white;
  border-radius: 30px;
  border: 2px solid green;
  padding: 8px;
  margin: 10px;
}

.removeBtn {
  background-color: rgb(222, 64, 64);
  color: white;
  border-radius: 30px;
  border: 2px solid rgb(133, 20, 20);
  padding: 8px;
  margin: 10px;
}

input {
  width: 60px;
  margin: 0 10px
}